
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
         
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
         
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
         
  }


@font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/hind-madurai-v11-latin-regular.woff') format('woff'); 
         
  }

  @font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-madurai-v11-latin-500.woff2') format('woff2'),
         url('../fonts/hind-madurai-v11-latin-500.woff') format('woff'); 
         
  }

  @font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'),
         url('../fonts/hind-madurai-v11-latin-600.woff') format('woff'); 
         
  }

  @font-face {
    font-display: swap; 
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'),
         url('../fonts/hind-madurai-v11-latin-700.woff') format('woff'); 
         
  }


@font-face {
    font-display: swap; 
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/fredoka-v14-latin-regular.woff') format('woff'); 
         
  }

@font-face {
    font-display: swap; 
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fredoka-v14-latin-700.woff2') format('woff2'), 
         url('../fonts/fredoka-v14-latin-700.woff') format('woff'); 
  }


/* GLOBAL STYLES  */

html{
    height:100%;
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
    font-weight:400;
    font-size:1.6rem;
    line-height:1.5;

}

ul, ol{
    list-style-type:none;
    padding:0;
}

a{
    text-decoration:none;
    display:inline-block;
}

img{
    object-fit: cover;
    display: flex;
    display:inline-block;
}

h1{
    font-family: 'Fredoka';
    font-weight: 700;
    font-size: 5.733rem;
    line-height: 1.2;
    color: #0F0101;
    margin:0;
    

}

h2{
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 4.42rem;
    color: #150101;
    margin:0;
}

h3{
    font-family: 'Hind Madurai';
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #000000;
    margin:0;
}
h4{
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #000000;
    margin:0;

}

button{
    border:none;
    cursor:pointer; 

}

p{
    margin:0;
}

input,select{
    outline:none;
}

input:focus, select:focus{
    opacity:1;
}

.container{
    width:100%;
    max-width: 1125px;
    margin:0 auto;
    padding:0 5rem;
}

.button{
    padding:1.5rem 5.5rem 1.5rem 4.6rem ;
    background: #D64374;
    border-radius: 5px;
    font-family: 'Hind Madurai';
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #FAFAFA;
}

/* HEADER STYLES  */

.header{
    padding-top:1rem;
    background:rgba(242, 206, 218, 0.3);
}

.header__container{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    padding-right:9.4rem;
}

.navigation__list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:4rem;
}

.navigation__item a{
    font-size: 1.4rem;
    line-height: 1.14;
    color: #150101;
    opacity: 0.6;
    transition:all 0.3s ease;
}

.navigation__item a:hover{
    color: #D23166;
    opacity:1;
}

.active a{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #D23166;
    opacity:1;

}

/* HERO STYLES  */

.hero{
    background:rgba(242, 206, 218, 0.3);
    
}

.hero__container{
    position:relative;
    padding-top: 23.8rem;
    padding-left: 8rem;
    padding-bottom: 21.3rem;

}

.hero__info{
    max-width:665px;
    width:100%;
    
}

.hero__info-subtitle{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.14;
    letter-spacing: 0.1em;
    color: #0F0101;
    opacity: 0.9;

}

.hero__info-title{
    margin-bottom:3.5rem;
}

.hero__info-title span{
    color:#D23166;
}

.hero__info-description{
    max-width:523px;
    width:100%;
    font-family: 'Hind Madurai';
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0F0101;
    opacity: 0.6;
    margin-bottom: 5rem;
}

.hero__img{
    position:absolute;
    top:9%;
    right:-2%;
}

/* DELIVERY STYLE  */

.delivery__container{
    padding:10rem 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.delivery__item{
    text-align:center;
    padding:2.7rem 2.6rem  ;
}

.delivery__item-img{
    padding-top:3.3rem;
    padding-bottom: 2.4rem;
}

.delivery__item-title{
    margin-bottom:0.9rem;
}

.delivery__item-description{
    font-family: 'Hind Madurai';
    font-size: 1.4rem;
    line-height: 1.357;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

/* OATEMEA STYLES  */

.oatmea { 
    background:rgba(242, 206, 218, 0.3);
}

.oatmea__container {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.oatmea__info-title {
    max-width:349px;
    width: 100%;
    line-height:1.1;
    margin-bottom: 1.6rem;
}
.oatmea__info-description {
    opacity: 0.6;
    color: #150101;
    margin-bottom: 3.5rem;

}


/* PRODUCT STYLES */

.products{
    padding-top:13.7rem;
    padding-bottom:14.9rem;
}

.products__title{
    font-weight: 600;
    font-size: 4.42rem;
    line-height: 1.38;
    color: #150101;
    text-align:center;
    margin-bottom: 6.4rem;
}

.products__navigation-list{
    display: flex;
    justify-content:center;
    gap:3.9rem;
    align-items:center;
    padding-bottom: 5rem;
}

.products__navigation-item a{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.16;
    color: rgba(0, 0, 0, 0.6);
    text-transform:uppercase;
    padding-bottom: 0.4rem;
    transition:all .3s ease;
}
.selected a{
    opacity:1;
    border-bottom: 3px solid #D64374;
    color: #000000;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.16;
    text-transform:uppercase;
    padding-bottom: 0.4rem;
}

.products__navigation-item a:hover{
    opacity:1;
}

.product__container{
    display:flex;
    align-items:center;
    gap:8.5rem;
    padding-bottom: 3rem;
}

.product__info-title{
    margin-bottom: 1.1rem;
}

.product__info-description{
    margin-bottom: 2.8rem;
    color: #000000;
    opacity: 0.7;
}

.product__info-price{
    font-family: 'Hind Madurai';
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #000000;
    margin-bottom: 1.6rem;
}

.product__info-price span{
    font-size: 2rem;
    line-height: 1.4;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

.right{
    text-align:right;
}

.product__thoughts {
    padding-top: 8.2rem;
    display:flex;
    gap:22.4rem;
    align-items:center;
}

.client {
    display:flex;
    gap:1.1rem;
    align-items: center;
    margin-bottom: 4.6rem;
}

.client__info-title {
    margin: 0.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.16;
    color: #000000;
}
.client__info-subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.16;
    color: #000000;
    opacity: 0.7;
    padding-left: 1rem;
}
.client__thought {
    margin-bottom: 3.9rem;
}
.clients {
    display:flex;
    align-items:center;
    gap:2.6rem;
}

.clients::before{
    content:'';
    width:8px;
    height:8px;
    border-top:3px solid #D64374;
    border-left:3px solid #D64374;
    transform:rotate(-45deg);

}

.clients::after{
    content:'';
    width:8px;
    height:8px;
    border-top:3px solid #D64374;
    border-right:3px solid #D64374;
    transform:rotate(45deg);
}

/* ORDER SYTLE  */

.order {
    background:rgba(242, 206, 218, 0.3);
}

.order__container {
    display:flex;
    align-items:center;
    gap:12rem;
}
.order__img {
    position:relative;
    top:59px;
}
.order__info {
    max-width:642px;
    width:100%;

}
.order__info-title {
    font-weight: 500;
    font-size: 4.42rem;
    line-height: 1.176;
    color: #000000;
    margin-bottom: 2rem;
}
.order__info-description {
    font-size: 1.8rem;
    line-height:1.16;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    margin-bottom: 2.9rem;
}
.order__info-actions {
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:1.5rem;
    margin-bottom: 3.9rem;

}
.order__info-action {
    display:flex;
    align-items:center;
    gap:1rem;
}
.order__info-action-img {
    background: #FFFFFF;
    border-radius: 3px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.order__info-action-title {
    font-size: 2.2rem;
    line-height: 1.18;
    color: #000000;
}
.order__info-buttons {
    display:flex;
    align-items:center;
    gap:0.7rem;
}

/* QUESTIONS STYLE  */

.questions {
    padding-top:15rem;
    padding-bottom: 7.1rem;
}

.questions__container {
    display:flex;
    align-items:center;
    justify-content: center;
}
.questions__wrapper {
    max-width: 637px;
    width: 100%;
}
.questions__title {
    max-width:522px;
    width:100%;
    margin:0 auto;
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 1.18;
    text-align: center;
    color: #000000;
    margin-bottom: 3.6rem;
}


.questions__tel {
    padding:2.9rem 11.7rem 2.9rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #0F0000;
    opacity: 0.6;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    margin-right: 2.5rem;
}
.questions__type {
    padding:2.9rem 15rem 2.9rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #0F0000;
    opacity: 0.6;
    border: 1px solid #FFA3A3;
    border-radius: 5px;

}
.questions__question {
    margin-top: 3.7rem;
    padding:2.9rem 45rem 2.9rem 2.5rem;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #0F0000;
    opacity: 0.6;
}

.questions__question-wrapper{
    position: relative;
}
.questions__button {
    position:absolute;
    right:0;
    bottom:0;
    padding-top:2.6rem;
    padding-bottom:2.6rem;
    padding-left:4.0rem;
    padding-right:3.8rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.15;

}

/* FOOTER STYLES  */

.footer {
    padding-bottom: 7rem;
    background:#0A0808;
}

.footer__container {
    display:flex;
    justify-content: space-between;
}

.footer__logo{
    padding-top: 5rem;
    position:relative;
    top:40px;
}

.footer__part1{
    padding-top:3rem;
}


.footer__part1-description {
    max-width: 207px;
    width:100%;
    font-size: 1.2rem;
    line-height: 1.41;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 2.5rem;
    margin-top: 0.9rem;
}
.footer__part1-subtitle {
    font-size: 1.2rem;
    line-height: 1.16;
    color: #FFFFFF;
    margin-bottom: 0.8rem;
}
.footer__part1-socials {
    display:flex;
    align-items: center;
    gap:1rem;
}
.footer__part2 {
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.footer__part2 a{
    font-size: 1.2rem;
    line-height: 1.16;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer__part3 {
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.footer__part3 a{
    font-size: 1.2rem;
    line-height: 1.16;
    color: #FFFFFF;
    opacity: 0.8;

}

.footer__part4-title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.18;
    color: #FFFFFF;
    margin-bottom: 1.3rem;
}

.footer__form{
    position: relative;
    margin-bottom: 1.6rem;
}

.footer__form input{
    border: 2px solid rgba(214, 67, 116, 0.5);
    border-radius: 5px;
    background: #0A0808;
    font-size: 1.2rem;
    line-height: 1.16;
    color: #FFFFFF;
    opacity: 0.6;
    padding:2rem 28.9rem 1.9rem 3.2rem;
}
.footer__part4-button {
    position: absolute;
    right:0;
    bottom:1.5px;
}
.footer__part4-cards {
    display: flex;
    gap:1.5rem;
    align-items:center;
}